@charset "UTF-8";

body {
    background-image: url(imagens/espaco.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 98.2vh;
}

#astronauta {
    position: absolute;
    max-width: 100px;
    max-height: 100px;
    margin: auto;
    left: 50%;
    top: 50%;
    transform: translate(-250%, -250%);
}