@charset "UTF-8";

html, body {
    height: 100%;
}

body {
    background-image: linear-gradient(red, blue);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

h1, p, ul, li, abbr {
    color: white;
    font-family: Arial;
    text-decoration: none;
}