@charset "UTF-8";

header {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 30px;
    background-color: darkgrey;
    color: rgb(0, 0, 0);
    height: 100px;
    width: 500px;
    text-align: center;
    margin-top: 20px;
    margin-right: 50px;
    margin-bottom: 20px;
    margin-left: 50px;
}